In [1]:
import pandas as pd
df = pd.read_csv("team_scores.csv")

In [2]:
names = df['name'].unique().tolist()
names

['Juan',
 'Maria',
 'Pedro',
 'Luisa',
 'Carlos',
 'Ana',
 'Jorge',
 'Sofia',
 'Diego',
 'Carmen',
 'Camila']

In [3]:
def last_survey():
        evaluations = {}
        last = df["date"].max()
        last_survey = df[df["date"] == last]
        
        for name in names:
            team_member = last_survey[last_survey['name'] == name]
            
            # Comprobar si existen datos para el miembro del equipo (HAY que implementar limpieza de datos antes en el futuro)
            if not team_member.empty:
                team_member_tw = team_member['team_work'].values[0]
                team_member_hs = team_member['hard_skill'].values[0]
            else:
                
                team_member_tw = None
                team_member_hs = None

            evaluations[name] = {
                'team_work': float(team_member_tw),
                'hard_skill': float(team_member_hs)
            }

        return evaluations

print(last_survey())

{'Juan': {'team_work': 10.0, 'hard_skill': 9.0}, 'Maria': {'team_work': 10.0, 'hard_skill': 9.0}, 'Pedro': {'team_work': 10.0, 'hard_skill': 6.0}, 'Luisa': {'team_work': 10.0, 'hard_skill': 5.0}, 'Carlos': {'team_work': 7.0, 'hard_skill': 7.0}, 'Ana': {'team_work': 7.0, 'hard_skill': 6.0}, 'Jorge': {'team_work': 9.0, 'hard_skill': 4.0}, 'Sofia': {'team_work': 4.0, 'hard_skill': 2.0}, 'Diego': {'team_work': 7.0, 'hard_skill': 6.0}, 'Carmen': {'team_work': 4.0, 'hard_skill': 9.0}, 'Camila': {'team_work': 2.0, 'hard_skill': 0.0}}

In [4]:
def last_mean(evaluations=last_survey()):
    tw_data_last = []
    hs_data_last = []
    for name, item in evaluations.items():

        tw_data_last.append(item['team_work'])
        hs_data_last.append(item['hard_skill'])

    tw_data_mean = sum(tw_data_last) / len(tw_data_last)
    hs_data_mean = round(sum(hs_data_last) / len(hs_data_last), 2)

    return round(tw_data_mean, 2), hs_data_mean

In [5]:
evaluations = last_mean()
evaluations

(7.27, 5.73)

In [6]:
tw_work_mean = round(float(df['team_work'].mean()), 2)
tw_work_mean

7.2

In [7]:
nombres_reales = ["Ana", "Carlos", "Lucía", "Pedro", "María", "Juan", "Sofía", "Miguel", "Elena", "Roberto"]
pseudonimos = ["Zorix", "Lumen", "Taris", "Sivel", "Nydra", "Voren", "Kaira", "Elvin", "Zaris", "Relon", "Tirin", "Almen", "Oulen"]

In [8]:
import random

In [9]:
pseudo_names =random.sample(pseudonimos, len(nombres_reales))
pseudo_names

['Sivel',
 'Oulen',
 'Lumen',
 'Kaira',
 'Tirin',
 'Taris',
 'Zaris',
 'Nydra',
 'Almen',
 'Zorix']

In [10]:
anonymous = dict(zip(nombres_reales, pseudo_names))
anonymous

{'Ana': 'Sivel',
 'Carlos': 'Oulen',
 'Lucía': 'Lumen',
 'Pedro': 'Kaira',
 'María': 'Tirin',
 'Juan': 'Taris',
 'Sofía': 'Zaris',
 'Miguel': 'Nydra',
 'Elena': 'Almen',
 'Roberto': 'Zorix'}

In [11]:
anonymous_names = [name for name in anonymous.values()]
anonymous_names

['Sivel',
 'Oulen',
 'Lumen',
 'Kaira',
 'Tirin',
 'Taris',
 'Zaris',
 'Nydra',
 'Almen',
 'Zorix']

In [12]:
evolution = {
    'Juan': [10, 10, 10, 10, 9, 10, 10, 10, 10, 10, 10, 10],
    'Maria': [9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10],
    'Pedro': [10, 10, 9, 8, 8, 10, 10, 10, 10, 10, 10, 10],
    'Luisa': [10, 10, 10, 9, 10, 10, 10, 10, 10, 10, 10, 10],
    'Carlos': [7, 7, 7, 7, 7, 7, 7, 5, 6, 6, 7, 7],
    'Ana': [6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 6, 7],
    'Jorge': [10, 10, 10, 10, 10, 9, 9, 9, 9, 9, 9, 9],
    'Sofia': [5, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4],
    'Diego': [5, 6, 6, 5, 6, 6, 6, 7, 7, 7, 7, 7],
    'Carmen': [5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 4],
    'Camila': [3, 3, 3, 1, 2, 2, 2, 2, 2, 2, 2, 2]
}

# Diccionario con los pseudónimos (anonymous_zip_dict)
anonymous_zip_dict = {
    'Ana': 'Zorix',
    'Carlos': 'Zaris',
    'Lucía': 'Sivel',
    'Pedro': 'Relon',
    'María': 'Voren',
    'Juan': 'Elvin',
    'Sofía': 'Lumen',
    'Miguel': 'Almen',
    'Elena': 'Tirin',
    'Roberto': 'Nydra'
}

def anon_evo_data(evolution= evolution):
    evolution_anon = {}

    for real_name, lista_notas in evolution.items():
        if real_name in anonymous_zip_dict:
            new_name = anonymous_zip_dict[real_name]
        else:
            new_name = "Doe"
        evolution_anon[new_name] = lista_notas

    return evolution_anon

In [13]:
anon_evo_data()

{'Elvin': [10, 10, 10, 10, 9, 10, 10, 10, 10, 10, 10, 10],
 'Doe': [3, 3, 3, 1, 2, 2, 2, 2, 2, 2, 2, 2],
 'Relon': [10, 10, 9, 8, 8, 10, 10, 10, 10, 10, 10, 10],
 'Zaris': [7, 7, 7, 7, 7, 7, 7, 5, 6, 6, 7, 7],
 'Zorix': [6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 6, 7]}

In [18]:
date_unique = df['date'].unique().tolist()
global_mean_by_date = {}

for date in date_unique:
    date_data = df[df['date'] == date]
    tw_mean_by_date = date_data['team_work'].mean()
    global_mean_by_date[date] = round(float(tw_mean_by_date), 2)

global_mean_by_date

{'2023-01': 7.27,
 '2023-02': 7.36,
 '2023-03': 7.27,
 '2023-04': 6.73,
 '2023-05': 7.0,
 '2023-06': 7.27,
 '2023-07': 7.27,
 '2023-08': 7.18,
 '2023-09': 7.27,
 '2023-10': 7.18,
 '2023-11': 7.27,
 '2023-12': 7.27}